/* Logo Turu no Login */
.logo {
    color: #00ffff;
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.sublogo {
    font-size: 14px;
    color: #e2c1ff;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Marca no cabeçalho do Chat */
.app-brand {
    display: flex;
    flex-direction: column;
}

.brand-title {
    font-size: 20px;
    font-weight: 900;
    color: #00ffff;
}

.brand-subtitle {
    font-size: 10px;
    color: #d1b3ff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
